<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagina Alerta por Nav Back</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Back" icon="caret-back" [defaultHref]="initialComponent"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button id="present-alert">Click Me</ion-button>
  <ion-alert
    trigger="present-alert"
    header="Titulo corto"
    subHeader="Sub cabecero"
    message="Mensaje."
    (didDismiss)="setResult($event)"
    [buttons]="alertButtons"
  ></ion-alert>
  <h2>Colores de botones</h2>
  <ion-button>Default</ion-button>
  
<ion-button color="primary">Primary</ion-button>
<ion-button color="secondary">Secondary</ion-button>
<ion-button color="tertiary">Tertiary</ion-button>
<ion-button color="success">Success</ion-button>
<ion-button color="warning">Warning</ion-button>
<ion-button color="danger">Danger</ion-button>
<ion-button color="light">Light</ion-button>
<ion-button color="medium">Medium</ion-button>
<ion-button color="dark">Dark</ion-button>

<h2>Boton con Iconos</h2>
<!-- Mode para cambiar plataforma ios | md = material design-->
<h4>Boton modo iOS con icono</h4>
<ion-button expand="full" mode="ios">
  <!-- iconos = https://ionic.io/ionicons -->
  <ion-icon name="person-outline"></ion-icon>
  Left Icon
</ion-button>
<h4>Boton con Outline</h4>
<ion-button fill="outline">Outline</ion-button>

<h4>Boton Disabled</h4>
<ion-button [disabled]="true">Disabled</ion-button>



</ion-content>
